<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <div class="wrapper">
      <header>
        <%- include('../partials/header'); %>
        <%- include('../partials/navigation'); %>
      </header>

      <main>
        <%- body %>
      </main>

      <footer>
        <%- include('../partials/footer'); %>
      </footer>
    </div>
  </body>
</html>
